header {
  background-color: #b1b1b1;
  text-align: center;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
}

nav {
  text-align: left;
}

a {
  color: #000000;
  background-color: #c4c4c4;
}

h2 {
  color: #001a7c;
  text-transform: uppercase;
}

section {
  background-color: #7e7e7e;
}

img {
  display: none;
}
